// Buttons (same for both)
$btn-bg: #dc541b;
$btn-hover-shadow: #FFE3B3;

// Dark theme
$dark-bg: #181A19;
$dark-card-bg: #252628;
$dark-text: #ffffff;

// Light theme
$light-bg: #F1EBDB;
$light-card-bg: #F5EBD2;
$light-text: #111111;